*{
    font-family: Roboto;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: #1F2937;
    height: 75vh;
}
.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: #1F2937;
}
.header-logo{
    display: flex;
    font-size: 24px;
    align-items: center;
}

a{
    list-style-type: none;
    text-decoration: none;
    color: #f9faf8;
    margin: 0;

}
li{
    padding: 1.3rem;
    font-size: 18px;
    color: #e5e7eb;
}
ul{
    display: flex;
    gap: 2.5rem;
    margin: 0;
}
li:hover{
    background-color: rgb(60, 60, 60);
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-left: 15rem;
    margin-right: 15rem;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 5rem;
}
.main img{
    width: 18rem;
    height: auto;
}

.main-title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.main-description{
    font-size: 18px;
    color: #e5e7eb;
}
.wrapper button{
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 800;
    border-radius: 15px;
    border: none;
    padding: 10px 20px 10px 20px;
    width: 8rem;
    cursor: pointer;
}

.content{
    background-color: white;
}
.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}
.content-title{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.content-card{
    display: flex;
    gap: 3rem;
    margin-top: 4rem;
    margin-bottom: 8rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 13rem;
    gap: 1rem;
    text-align: center;
}
.card img{
    width: 10rem;
    height: auto;
}
.quote{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100%;
    text-align: center;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;

}
.quote-wrapper{
    width: 50%;
}
.quote-wrapper p{
    margin: 0;
}

.quote-wrapper .author{
    text-align: right;
    font-weight: bold;
    font-size: 28px;
    margin-right: 36px;
}

.call-container{
    height: 20vh;
    margin: 6rem;
}
.call-action{
    display: flex;
    gap: 8rem;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: 55rem;
    height: 9rem;
    border-radius: 10px;
}
.call-action button{
    border: 1px white solid;
    background-color: #3882F6;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 700;
    padding: 5px 32px 5px 32px;
    cursor: pointer;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
}

.call-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 420px;
    height: 100px;
}
.call-content .desc{
    color: #e5e7eb;
    margin: 0;
}

.call-content .title{
    font-size: 24px;
    font-weight: 900;
    color: #e5e7eb;
    margin: 0;
}

footer{
    background-color: #1F2937;
    color: #e5e7eb;
    text-align: center;
    font-size: 18px;
    padding: 22px;
}